body{
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.main{
    background-color: rgb(22, 1, 1);
    width: 35%;
    height: 470px;
    padding-top: 5px;
    margin-left: 33%;
    border: 2px solid rgb(243, 212, 155);
}
#guess{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#sub{
    border: 2px solid rgb(178, 245, 186);
    border-radius: 5px;
    font-size: 15px;
    color: rgb(20, 1, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#guessField{
    width: 150px;
    border: 2px solid grey;
    border-width: 2px;
    color: rgb(59, 5, 5);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.resultParas{
    color: rgb(141, 250, 166);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lastResult{
    color: rgb(223, 245, 216);
    font-weight: bold;
}
#guess1{
    color: rgb(241, 84, 84);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#h3{
    color: rgb(232, 243, 193);
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.reset{
    font-weight: bold;
    font-size: 10px;
    border-radius: 5px;

}

#guessField{
    font-size: 17px;
}